/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/
body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #414141; 
}

header {
  text-align: center;
}

h1 {
  font-size: 6rem;
}
.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
